[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Comment=
Exec=android
Icon=/home/phm/programs/android-studio/bin/studio.png
Path=
Terminal=false
StartupNotify=false
